.carouselContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  overflow: hidden;
}

.mainImage {
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

.thumbnailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 5px;
}

.thumbnailImage {
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: transform 0.3s ease;
}

.thumbnailImage:hover {
  transform: scale(1.1);
}

.thumbnailActive {
  border: 2px solid blue;
  transform: scale(1.1);
}

@media screen and (width < 768px) {
  .mainImageContainer {
    margin-bottom: 15px;
  }
  .mainImage {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .thumbnailImage {
    width: 50px;
    height: 50px;
  }
}

@media screen and (width < 992px) {
  .carouselContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .thumbnailsContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
}
