/* Use simple selectors and avoid unnecessary specificity */
.searchForm {
  display: flex;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .searchForm {
    margin-left: 250px;
  }
}

.searchInput,
.searchButton {
  position: relative;
  transition: all 0.5s ease;
  height: 40px;
  padding-inline: 8px;
  z-index: 99999;
}

.searchInput {
  flex: 10;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  outline: none;
}

.searchButton {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.searchButton:hover {
  background-color: #0069d9;
  color: #ffffff;
}

.searchButton:active {
  scale: 0.9;
}

.searchForm:focus-within .searchInput,
.searchForm:focus-within .searchButton {
  transition: all 0.5s ease;
  height: 80px;
}

.searchOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: none;
}
