@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Rubik:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
}

a,
button,
input,
input::placeholder,
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  margin-top: 6rem;
}

.track {
  height: 20px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(211, 195, 195);
}

.track.track-0 {
  background-color: hsl(10, 80%, 60%);
}

@media screen and (max-width: 768px) {
  .track.track-1 {
    background-color: hsl(230, 50%, 30%);
  }
}

.track.track-2 {
  background-color: hsl(160, 50%, 45%);
}
